    body {
        background-color: #112222;
        font-family: animeace, sans-serif;
    }
    .titulo {
        margin-top: -70px;
        font-size: 60px;
        color: #000000;
        font-family: animeace, sans-serif;
    }   

    .quadrado {
        width: 850px;
        height: 70px;
        background-color: #274e4ea4;
        margin-top: -12.5px;
        border-radius: 20px;
        box-shadow: 12.5px 6px 5px rgba(0, 0, 0, 0.7);
    } 

    .imgfirts {
        width: 384px;
        height: 216px;
        margin-top: -40px;
        border-radius: 20px;
        filter: drop-shadow(12.5px 1px 5px rgba(0, 0, 0, 0.7));
        position: relative;
        animation: giraY 1.4s forwards;
        }
            @keyframes giraY {
            0% {
            transform: rotateY(0deg); 
            }
            100% {
            transform: rotateY(1080deg); 
            }
        } 
     
/* Questão1 */
 
    .quadrados {
        left: 10px;
        position: relative;
        width: 1225px;
        height: 300px;
        background-color: #274e4ea4;
        margin-top: 60px;
        border-radius: 20px;
        box-shadow: 12.5px 6px 5px rgba(0, 0, 0, 0.7);
        animation: leftToRight 1.2s forwards;
        }
            @keyframes leftToRight {
            0% {
            transform: translateX(-100%); 
            }
            100% {
            transform: translateX(0); 
            }
        } 
    

    .pergunta {
        font-size: 26px;
        font-family: animeace, sans-serif;
        color: #000000;
        position: relative;
        left: 15px;
        bottom: -5px;
        
    }
   
    label {
        font-size: 20px;
        font-family: animeace, sans-serif;
        display: inline-block;
        padding: 10px 20px;
        margin: 5px 10px;
        background-color: #274e4e;
        color: rgb(0, 0, 0);
        border-radius: 10px;
        cursor: pointer;
        transition: 0.5s;
    }

    label:hover {
        background-color: #3b6f6f;
        box-shadow: 12.5px 6px 5px rgba(0, 0, 0, 0.7);

}
    input[type="radio"] {
        display: none;
        width: 20px;
        height: 20px;
        accent-color: #244747;
}

    input[type="radio"]:checked + label {
        transform: translateX(25px);
        background-color: #112222;
}
  body {
    margin: 0;
    padding: 0;
}

footer {
    width: 97.5%;
    height: 275px;
    background-color: #274e4ea4;
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 20px;
    margin-top: -150px;
    background-image: url("Pasta img.DANIEL/ChatGPT Image 17_06_2026, 22_10_51.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

}

footer p {
    margin: 0;
}
.finalizar {
    background-color: transparent;
    border: none;
    
}

.botao{
    border: 0;
    border-radius: 100px;
    font-size: 35px;
    background-color: #274e4ea4;
    bottom: 225px;
    position: relative;
    cursor: pointer;
    transition: 0.5s;
}
.botao:hover{
    background-color: #3b6f6f;
    box-shadow: 12.5px 6px 5px rgba(0, 0, 0, 0.7);
}
.botao:active{
    transform: translateY(4px);
    box-shadow: 4px 2px 3px rgba(0, 0, 0, 0.7);
}

.imagens{
    height: 500px;
    width: 325px;
    background-image: url("Pasta img.DANIEL/ChatGPT Image 9_06_20126, 19_21_26.png");
    position: absolute;
    top: 275px;
    right: 10px;
    border-radius: 50%;
    box-shadow: 4px 2px 3px rgba(0, 0, 0, 0.7);
}